@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Taha';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/Taha.ttf') format('ttf');
}

@font-face {
  font-family: 'Yekan';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../../public/fonts/Yekan.ttf') format('ttf');
}

body {
  direction: rtl;
  color: rgb(var(--foreground-rgb));
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: black;
}

button,
button:focus,
button:hover,
button:active {
  color: inherit;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
